@import url(./style.css);
@import url(./cards.css);

.header-login {
    background: transparent;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
}

.header-login .logo-name {
    color: white;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.15);
    font-size: 3.6rem;
    
}

.header-login .logo-name span {
    color:var(--bg-color-lilac-dark);
}




.login-visual{
     position: relative;
        display: flex;
    flex-direction: row;
    align-items: center;
    height: 100vh;/*los hietos ocupan posicion absoluta y se salen del flujo al darle altura al main logro que se acomode un poco*/
    
}
.form-box{
    
    width: 55vw;
    height: 79vh;
    margin:4.5rem;
     display: flex;
    flex-direction: column;
    transition: transform 0.3s ease;
      box-shadow: 5px 5px 10px rgba(0,0,0,0.3);
}
.form-box:hover {
    transform: translateY(-2px);
    cursor: pointer;
  
}

.content-form{
   
    display: flex;
    flex-direction: column;
    margin: 3rem;
    gap: 2.5rem;
    border: none;/*legend se asienta sobre la linea del fieldset*/
    legend{
        font-weight: var(--weight-bold);
        margin-bottom: 1.5rem;
        text-align: center;
     }
     button{
        background-color: var(--bg-color-lilac-dark);
        border-style: none;
        border-radius: 1rem;
         padding: 0.3rem;
         color: var(--bg-color-lilac);
     }
     button:hover,label:hover{
        cursor: pointer;
     }
     a{
        text-align: center;
        text-decoration: none;
        color: black;
     }
    
}

.labels-form{
    display: flex;
    flex-direction: column;
    gap:0.7rem;
     input{
        border-radius: 1rem;
        padding: 0.3rem;
        border-color:var(--bg-color-lilac-dark);
        border-width: 1.2px;
        background-color: #EBEFFF;
     }
}

.aside-visual{
    
    position: relative;
    width: 77vw;/*no habia definido las medidas del contenedor por eso se salian los hijos*/
    height: 100vh;
    div{
        overflow: hidden;
        position:absolute;
        z-index: -1;/*imagen por detras*/
        height: 100vh;
        width: 34vw; /*43% del ancho de la ventana del navegador*/ 
        background-color: var(--bg-color-lilac);
        right: 0;
    }
}

.login-notebook-img {
    z-index: 1; /*imagen por delante*/
    position: absolute;
   width: 46vw;
    height: auto;
    overflow: hidden;
    top: 2rem;
    right: 7rem;

   

}


